.content-header {
    text-align: center;
}

.content-header p {
    text-decoration: solid;
}

.content-body #left {
    float: left;
    width: 40%;
    text-align: left;
}

.content-body #right {
    float: right;
    width: 40%;
    text-align: right;
}

.content-body #bottom {
    clear: both;
    text-align: center;
    margin-left: 20%;
    width: 60%;
}