<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
    <div class="content-header">
        <a><img src="https://via.placeholder.com/900x250"></a>
        <h1 style="text-emphasis-style: bold;">About</h1>
        <hr>
    </div>
    <div class="content-body">
        <p id="left">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Consequuntur tempore ducimus illo nemo laudantium natus voluptates.
        Voluptatem obcaecati quasi alias, asperiores molestiae debitis eveniet,
        ducimus laborum adipisci id expedita! Aliquam.</p>
        <a><img src="https://via.placeholder.com/200x200"></a>
        <p id="right">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Consequuntur tempore ducimus illo nemo laudantium natus voluptates.
        Voluptatem obcaecati quasi alias, asperiores molestiae debitis eveniet,
        ducimus laborum adipisci id expedita! Aliquam.</p>
        <p id="bottom">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Consequuntur tempore ducimus illo nemo laudantium natus voluptates.
        Voluptatem obcaecati quasi alias, asperiores molestiae debitis eveniet,
        ducimus laborum adipisci id expedita! Aliquam.</p>
    </div>
</body>
</html>