<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services</title>
</head>
    <header>
        <h1>Services</h1>
        <hr>
    </header>
    <body>
        <div class="body-content container-fluid">
            <div class="row">
                <div class="col-sm">
                    <a><img src="https://via.placeholder.com/200x200"></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Consequuntur tempore ducimus illo nemo laudantium natus voluptates.
                    Voluptatem obcaecati quasi alias, asperiores molestiae debitis eveniet,
                    ducimus laborum adipisci id expedita! Aliquam.</p>
                </div>
                <div class="col-sm">
                    <a><img src="https://via.placeholder.com/200x200"></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Consequuntur tempore ducimus illo nemo laudantium natus voluptates.
                    Voluptatem obcaecati quasi alias, asperiores molestiae debitis eveniet,
                    ducimus laborum adipisci id expedita! Aliquam.</p>
                </div>
                <div class="col-sm">
                    <a><img src="https://via.placeholder.com/200x200"></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Consequuntur tempore ducimus illo nemo laudantium natus voluptates.
                    Voluptatem obcaecati quasi alias, asperiores molestiae debitis eveniet,
                    ducimus laborum adipisci id expedita! Aliquam.</p>
                </div>
            </div>
        </div>
        <hr>
    </body>
    <footer>
        <h1>Footer</h1>
        <hr>
    </footer>
</html>
