<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
    </head>
    <body>
        <!--<ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
            <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper">
                <img [src]="image" alt="Random slide">
            </div>
            <div class="carousel-caption">
                <h3>No mouse navigation</h3>
                <p>This carousel hides navigation arrows and indicators.</p>
            </div>
            </ng-template>
        </ngb-carousel> -->
        <div class="logo">
            <img src="../../assets/img/Business-logo_Tavern_Transparent.png">
        </div>
        <div class="center">
            <h1>Home</h1>
        </div>
        <hr>
        <div class="content-border">
            <div class="home-content">
                <p id="left">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequuntur tempore ducimus illo nemo laudantium natus voluptates.
                Voluptatem obcaecati quasi alias, asperiores molestiae debitis eveniet,
                ducimus laborum adipisci id expedita! Aliquam.</p>
                <a><img src="https://via.placeholder.com/250x250"></a>
                <p id="right">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequuntur tempore ducimus illo nemo laudantium natus voluptates.
                Voluptatem obcaecati quasi alias, asperiores molestiae debitis eveniet,
                ducimus laborum adipisci id expedita! Aliquam.</p>
            </div>
        </div>
    </body>
</html>